node_modules
dist
test
src/**/*.js
scratch

/coverage
/docs
.nyc_output
*.log

wallaby.conf.js

.DS_Store

# JetBrains IDE project files
/.idea

testframe.rgba

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
