/.circleci
/.vscode
/src
/config
/docs
/examples
__tests__
/integrationTests
tsconfig.json
tsconfig.jest.json
tslint.json
.github
.editorconfig
build/temp
build/docs

CHANGELOG.md
CHANGES.md
CONTINGENCY.md

jest-integration.config.js
jest.config.js

coverage
.nyc_output
*.log
